{% extends "base.html" %}
{% load static %}

{% block title %}
<title> Datacatcher </title>
{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/catcher.css' %}">
{% endblock %}

{% block content %}

<div class="container-fluid">
    <br>
    <div class="row">
        <div class="col-4 left-menu">
            <h3> Data collection log</h3>
            <br>
            <div class="row">
                <div class="col-12 themed-grid-col header-col"> general info </div>
                <div class="col-6 themed-grid-col"> database size</div>
                <div class="col-6 themed-grid-col"> {{size}} records</div>
                {% if size > 0 %}
                    <div class="col-6 themed-grid-col"> number of runs </div>
                    <div class="col-6 themed-grid-col"> {{ latest.run_id }}</div>
                    <div class="col-6 themed-grid-col"> last update </div>
                    <div class="col-6 themed-grid-col"> {{ latest.timestamp }}</div>
                {% endif %}
            </div>
            <br>
            {% if size > 2 %}
            <div class="row">
                <div class="col-12 themed-grid-col header-col"> last records </div>
                <div class="col-6 themed-grid-col header-col"> timestamp </div>
                <div class="col-6 themed-grid-col header-col"> price </div>
                {% for record in last %}
                    <div class="col-6 themed-grid-col"> {{ record.timestamp|date:'Y-m-d H:i:s' }} </div>
                    <div class="col-6 themed-grid-col"> {{ record.price }}</div>
                {% endfor %}
            </div>
            {% endif %}
            <br>
            {% if active %}
                <div class="row">
                    <div class="col-12 themed-grid-col header-col"> Data catcher is active </div>
                    <div class="col-6 themed-grid-col"> Start timestamp</div>
                    <div class="col-6 themed-grid-col"> {{start}} </div>
                    <div class="col-6 themed-grid-col"> End timestamp </div>
                    <div class="col-6 themed-grid-col"> {{ end }}</div>
                </div>

                <div align="center">
                    <form method="POST">
                        {% csrf_token %}

                        <input type="submit" class="btn-primary btn-lg btn" value="Stop catcher"/>
                    </form>
                </div>

            {% else %}
                <div class="row">
                    <div class="col-12 themed-grid-col header-col"> Data catcher is inactive </div>
                </div>

                <div align="center">
                    <form method="POST">
                        {% csrf_token %}
                        <input type="submit" class="btn-primary btn-lg btn" value="Start catcher"/>
                    </form>
                </div>
            {% endif %}
        </div>
        <div class="col-8 plot">
            <h3> Price chart of the latest run </h3>
            {% autoescape off %}
                {{ plot }}
            {% endautoescape %}
        </div>
    </div>
</div>

{% endblock %}